* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: url('../img/project4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__stop-watch {
    width: 60%;
    height: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #333;
    background: #4AC29A;
    background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
    background: linear-gradient(to right, #BDFFF3, #4AC29A);
}

.container__stop-watch .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid gold;
}

#timer {
    width: 100%;
    font-size: 70px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;
}

button {
    margin: 0 10px;
    border: none;
}

button i {
    font-size: 2rem;
    padding: 10px;
    color: #fff;
    border-radius: 3px;
    width: 80px;
    cursor: pointer;
}

button i:hover {
    border-bottom: 4px solid gold;
}

#play {
    background-color: green;
}

/* javascript styling link */
#pause {
    background-color: orange;
}

#reset {
    background-color: red;
}